case-olist-data-factorie/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "case-olist-data-factorie"
		},
		"olist_data_lake_linked_service_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'olist_data_lake_linked_service'"
		},
		"olist_linked_service_databricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'olist_linked_service_databricks'"
		},
		"olist_sql_linked_service_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'olist_sql_linked_service'"
		},
		"olist_stored_proc_orders_view_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'olist_stored_proc_orders_view'"
		},
		"olist_data_lake_linked_service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://caseoliststorageaccount2.dfs.core.windows.net/"
		},
		"olist_linked_service_databricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0717-190449-ygaf4d1r"
		},
		"olistAzureKeyVaultSynapseAnalytics_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://olist-key-vault4.vault.azure.net/"
		},
		"olist_pipeline_all_trigger1_properties_pipeline_olist_sql_all_parameters_cw_items": {
			"type": "array",
			"defaultValue": [
				{
					"source": {
						"table": "olist_customers_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tbcustomers_dataset.csv"
					}
				},
				{
					"source": {
						"table": "olist_geolocation_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tbgeolocation_dataset.csv"
					}
				},
				{
					"source": {
						"table": "olist_order_items_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tborder_items_dataset.csv"
					}
				},
				{
					"source": {
						"table": "olist_order_payments_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tborder_payments_dataset.csv"
					}
				},
				{
					"source": {
						"table": "olist_order_reviews_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tborder_reviews_dataset.csv"
					}
				},
				{
					"source": {
						"table": "olist_orders_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tborders_dataset.csv"
					}
				},
				{
					"source": {
						"table": "olist_products_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tbproducts_dataset.csv"
					}
				},
				{
					"source": {
						"table": "olist_sellers_dataset"
					},
					"destination": {
						"fileName": "dbo.olist_tbsellers_dataset.csv"
					}
				},
				{
					"source": {
						"table": "product_category_name_translation"
					},
					"destination": {
						"fileName": "dbo.product_tbcategory_name_translation.csv"
					}
				}
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/olist_data_lake_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('olist_data_lake_linked_service_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('olist_data_lake_linked_service_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_linked_service_databricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-1022960908514514.14.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('olist_linked_service_databricks_accessToken')]"
					},
					"existingClusterId": "[parameters('olist_linked_service_databricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_sql_linked_service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('olist_sql_linked_service_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_stored_proc_orders_view')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('olist_stored_proc_orders_view_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/olistAzureKeyVaultSynapseAnalytics')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('olistAzureKeyVaultSynapseAnalytics_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_data_lake_landing')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "olist_data_lake_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/olist_data_lake_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_destination_data_lake_landing_all')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "olist_data_lake_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_fileName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().cw_fileName",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/olist_data_lake_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_source_sqlServer_all')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "olist_sql_linked_service",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"cw_table": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": {
						"value": "@dataset().cw_table",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/olist_sql_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_sqlServer_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "olist_sql_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "customer_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_unique_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_zip_code_prefix",
						"type": "nvarchar"
					},
					{
						"name": "customer_city",
						"type": "nvarchar"
					},
					{
						"name": "customer_state",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "olist_customers_dataset"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/olist_sql_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_sqlServer_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "olist_sql_linked_service",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "order_id",
						"type": "nvarchar"
					},
					{
						"name": "customer_id",
						"type": "nvarchar"
					},
					{
						"name": "order_status",
						"type": "nvarchar"
					},
					{
						"name": "order_purchase_timestamp",
						"type": "nvarchar"
					},
					{
						"name": "order_approved_at",
						"type": "nvarchar"
					},
					{
						"name": "order_delivered_carrier_date",
						"type": "nvarchar"
					},
					{
						"name": "order_delivered_customer_date",
						"type": "nvarchar"
					},
					{
						"name": "order_estimated_delivery_date",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "olist_orders_dataset"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/olist_sql_linked_service')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_customers')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "olist_copy_tbcustomers_data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "olist_sqlServer_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "olist_data_lake_landing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "olist_copy_tborders_data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "olist_copy_tbcustomers_data",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "olist_sqlServer_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "olist_data_lake_landing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/olist_sqlServer_customers')]",
				"[concat(variables('factoryId'), '/datasets/olist_data_lake_landing')]",
				"[concat(variables('factoryId'), '/datasets/olist_sqlServer_orders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_olist_sql_all')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_u9f",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.cw_items",
								"type": "Expression"
							},
							"batchCount": 1,
							"activities": [
								{
									"name": "Copy_u9f",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "dbo.@{item().source.table}"
										},
										{
											"name": "Destination",
											"value": "landing//@{item().destination.fileName}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"partitionOption": "None"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"validateDataConsistency": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "olist_source_sqlServer_all",
											"type": "DatasetReference",
											"parameters": {
												"cw_table": "@item().source.table"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "olist_destination_data_lake_landing_all",
											"type": "DatasetReference",
											"parameters": {
												"cw_fileName": "@item().destination.fileName"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "olist_processing_notebook",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/andreia___@hotmail.com/mnt/landing/olist_processing"
						},
						"linkedServiceName": {
							"referenceName": "olist_linked_service_databricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "olist_stored_proc_orders_view",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach_u9f",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CreateSQLServerlessOrderView]"
						},
						"linkedServiceName": {
							"referenceName": "olist_stored_proc_orders_view",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"cw_items": {
						"type": "Array",
						"defaultValue": [
							{
								"source": {
									"table": "olist_customers_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tbcustomers_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_geolocation_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tbgeolocation_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_order_items_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tborder_items_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_order_payments_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tborder_payments_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_order_reviews_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tborder_reviews_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_orders_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tborders_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_products_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tbproducts_dataset.csv"
								}
							},
							{
								"source": {
									"table": "olist_sellers_dataset"
								},
								"destination": {
									"fileName": "dbo.olist_tbsellers_dataset.csv"
								}
							},
							{
								"source": {
									"table": "product_category_name_translation"
								},
								"destination": {
									"fileName": "dbo.product_tbcategory_name_translation.csv"
								}
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/olist_linked_service_databricks')]",
				"[concat(variables('factoryId'), '/linkedServices/olist_stored_proc_orders_view')]",
				"[concat(variables('factoryId'), '/datasets/olist_source_sqlServer_all')]",
				"[concat(variables('factoryId'), '/datasets/olist_destination_data_lake_landing_all')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/olist_pipeline_all_trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline_olist_sql_all",
							"type": "PipelineReference"
						},
						"parameters": {
							"cw_items": "[parameters('olist_pipeline_all_trigger1_properties_pipeline_olist_sql_all_parameters_cw_items')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-08-03T19:00:00",
						"endTime": "2023-08-04T19:00:00",
						"timeZone": "E. South America Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline_olist_sql_all')]"
			]
		}
	]
}