developer/pipeline/pipeline_olist_sql_all.json
{
	"name": "pipeline_olist_sql_all",
	"properties": {
		"activities": [
			{
				"name": "ForEach_u9f",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.cw_items",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Copy_u9f",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "dbo.@{item().source.table}"
								},
								{
									"name": "Destination",
									"value": "landing//@{item().destination.fileName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "olist_source_sqlServer_all",
									"type": "DatasetReference",
									"parameters": {
										"cw_table": "@item().source.table"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "olist_destination_data_lake_landing_all",
									"type": "DatasetReference",
									"parameters": {
										"cw_fileName": "@item().destination.fileName"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "olist_processing_notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach_u9f",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/andreia___@hotmail.com/mnt/landing/olist_processing"
				},
				"linkedServiceName": {
					"referenceName": "olist_linked_service_databricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"cw_items": {
				"type": "Array",
				"defaultValue": [
					{
						"source": {
							"table": "olist_customers_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tbcustomers_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_geolocation_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tbgeolocation_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_order_items_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tborder_items_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_order_payments_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tborder_payments_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_order_reviews_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tborder_reviews_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_orders_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tborders_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_products_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tbproducts_dataset.csv"
						}
					},
					{
						"source": {
							"table": "olist_sellers_dataset"
						},
						"destination": {
							"fileName": "dbo.olist_tbsellers_dataset.csv"
						}
					},
					{
						"source": {
							"table": "product_category_name_translation"
						},
						"destination": {
							"fileName": "dbo.product_tbcategory_name_translation.csv"
						}
					}
				]
			}
		},
		"annotations": []
	}
}